@using JGUZDV.Blazor.Components.Authentication;
@using JGUZDV.Blazor.Components.Localization;

<header class="@HeaderClass">
    <div class="row mx-0 my-1 my-sm-0 align-items-center">
        @if (Logo != null)
        {
            <div class="col col-auto">
                <a href="@Logo.Href">
                    <img class="app-logo" src="@Logo.SrcUrl" alt="@Logo.AltText" />
                </a>
            </div>
        }

        <h1 class="col col-auto">@Title</h1>

        @if (AdditionalContent != null)
        {
            <div class="col">
                @AdditionalContent
            </div>
        }

        @if(ShowButtons)
        {
            <div class="col col-auto justify-self-end">
                @if(ShowLoginButton)
                {
                    <LoginButton />
                }
                
                @if (ShowLanguageSelector)
                {
                    <LanguageSelect />
                }

                @if (HelpUrl != null)
                {
                    <a aria-label="@LR["Help"]" class="jgu_btn btn btn-none" target="_blank" href="https://www.zdv.uni-mainz.de/account/">
                        @Icons.Help(null)
                    </a>
                }
            </div>
        }
    </div>
</header>

@code{
    [Inject, NotNull]
    private IStringLocalizer<ComponentStrings>? LR { get; set; }


    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter]
    public LogoSpecs? Logo { get; set; }


    [Parameter]
    public RenderFragment? AdditionalContent { get; set; }


    [Parameter]
    public bool ShowLoginButton { get; set; } = true;

    [Parameter]
    public bool ShowLanguageSelector { get; set; } = true;

    [Parameter]
    public string? HelpUrl { get; set; }


    public bool ShowButtons => ShowLoginButton || ShowLanguageSelector || HelpUrl != null;


    [Parameter]
    public string? HeaderClass { get; set; } = "jbs-header";


    public class LogoSpecs
    {
        public required string SrcUrl { get; set; }
        public required string AltText { get; set; }
        public string? Href { get; set; }
    }
}