@inject IStringLocalizer<ComponentStrings> LR

<Dropdown DropDownMenuClass="dropdown-menu-end">
    <DropdownLabelContent>
        <jgu-theme-icon>
            <i class="fas fa-adjust"></i>
        </jgu-theme-icon>
    </DropdownLabelContent>
    <DropdownContent>
        <h6 class="dropdown-header">@LR["DarkModeSelector.Header"]</h6>

        <jgu-theme-button class="dropdown-item" theme="light" role="menuitem">
            @Icons.LightMode("small pe-1") @LR["Theme.Light"]
        </jgu-theme-button>

        <jgu-theme-button class="dropdown-item" theme="dark" role="menuitem">
            @Icons.DarkMode("small pe-1") @LR["Theme.Dark"]
        </jgu-theme-button>

        <jgu-theme-button class="dropdown-item" theme="auto" role="menuitem">
            @Icons.AutoMode("small pe-1") Auto
        </jgu-theme-button>
    </DropdownContent>
</Dropdown>