@inject IStringLocalizer<ComponentStrings> LR


<Dropdown DropDownMenuClass="dropdown-menu-end">
    <DropdownLabelContent>
        <span id="jgu-current-theme-icon" aria-label="@LR["DarkModeSelector.Header"]">
            <i class="fas fa-adjust"></i>
        </span>
    </DropdownLabelContent>
    <DropdownContent>
        <button class="dropdown-item" id="jgu-light-theme-icon" data-set-theme="light" role="menuitem">
            @Icons.LightMode("small pe-1") @LR["Theme.Light"]
        </button>
        <button class="dropdown-item" id="jgu-dark-theme-icon" data-set-theme="dark" role="menuitem">
            @Icons.DarkMode("small pe-1") @LR["Theme.Dark"]
        </button>
        <button class="dropdown-item" id="jgu-auto-theme-icon" data-set-theme="auto" role="menuitem">
            @Icons.AutoMode("small pe-1") Auto
        </button>
    </DropdownContent>
</Dropdown>