@using JGUZDV.Blazor.Components.L10n
@using JGUZDV.DynamicForms.Blazor.Resources
@using JGUZDV.DynamicForms.Model

<label for="@_guid">@SL["ChoiceOptionInput.NewValue"]</label>
<input id="@_guid"
       name="AllowedValue@_guid"
       class="form-control"
       @bind="@ChoiceOption.Value"
       @bind:after="() => ChoiceOptionChanged.InvokeAsync(ChoiceOption)" />

<div class="pt-1">
    <label for="AllowedValueName@_guid">@SL["ChoiceOptionInput.NewName"]</label>
    <L10nEditor @bind-L10n="ChoiceOption.Name"
                @bind-L10n:after="() => ChoiceOptionChanged.InvokeAsync(ChoiceOption)" />
</div>
<div class="pt-1">
    <label for="Index@_guid">@SL["ChoiceOptionInput.Index"]</label>
    <input id="Index@_guid"
           type="number"
           class="form-control"
           @bind="ChoiceOption.Index"
           @bind:after="() => ChoiceOptionChanged.InvokeAsync(ChoiceOption)" />
</div>


@code {
    [Parameter]
    [EditorRequired]
    public ChoiceOptionEditModel ChoiceOption { get; set; } = default!;

    [Parameter]
    public EventCallback<ChoiceOptionEditModel> ChoiceOptionChanged { get; set; }

    [Inject]
    public required IStringLocalizer<ComponentStrings> SL { get; set; }

    private Guid _guid = Guid.NewGuid();

    override protected void OnParametersSet()
    {
        base.OnParametersSet();
        _guid = Guid.NewGuid();
    }
}
