@using JGUZDV.Blazor.Components.Modals
@using JGUZDV.DynamicForms.Blazor.Resources
@using JGUZDV.DynamicForms.Model
@using System.ComponentModel.DataAnnotations


<div class="pb-1">
    <div class="fw-bold">@SL["EditChoiceOptions.Add"]</div>

    <EditForm Model="_newChoiceOption" OnValidSubmit="() => AddChoiceOption(_newChoiceOption)">
        <DataAnnotationsValidator />
        <ValidationSummary />

        @if (_errors.Any())
        {
            <ul class="text-danger">
                @foreach (var error in _errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        }

        <ChoiceOptionInput @bind-ChoiceOption="_newChoiceOption" />

        <div class="mt-2">
            <button type="submit" class="btn btn-outline-primary">
                @SL["ChoiceOptionInput.Save"]
            </button>
        </div>
    </EditForm>
</div>
<hr />
@if (Field.ChoiceOptions.Any())
{
    <div class="fw-bold">
        @SL["EditChoiceOptions.Plural"]
        <small class="text-muted fw-normal">@SL["EditChoiceOptions.DragAndDropHint"]</small>
    </div>
    <ul class="list-group" @ondragend="() => { _draggedOption = null; _dropIndex = null; }">
        <li class="drop-spacer @(_dropIndex == 0 ? "active" : "")"
            @ondragover="() => _dropIndex = 0"
            @ondragover:preventDefault="true"
            @ondragenter="() => _dropIndex = 0"
            @ondrop="() => HandleDropAt(0)"
            @ondrop:preventDefault="true">
        </li>

        @foreach (var (option, i) in Field.ChoiceOptions.OrderByDescending(x => x.SortWeight).Select((o, i) => (o, i)))
        {
            var dropIndex = i + 1;
            <li class="list-group-item choice-option-item"
                draggable="true"
                @ondragstart="() => HandleDragStart(option)"
                @ondragover:preventDefault="true"
                @ondrop="() => HandleDropAt(_dropIndex)"
                @ondrop:preventDefault="true">
                <i class="fa fa-edit clickable"
                   role="button"
                   @onclick="() => HandleEditChoiceOption(option)"></i>
                <i class="fa fa-trash pe-2 clickable"
                   role="button"
                   @onclick="() => RemoveChoiceOption(option)"></i>
                @option.Name: @option.Value
            </li>

            <li class="drop-spacer @(_dropIndex == dropIndex ? "active" : "")"
                @ondragover="() => _dropIndex = dropIndex"
                @ondragover:preventDefault="true"
                @ondragenter="() => _dropIndex = dropIndex"
                @ondrop="() => HandleDropAt(dropIndex)"
                @ondrop:preventDefault="true">
            </li>
        }
    </ul>
}

<Modal @ref=_editChoiceOptionModal TModel="ChoiceOption" Title="@SL["EditChoiceOptions.Edit"]">
    <Body>
        <ChoiceOptionInput @bind-ChoiceOption="context.Model" />
        <div class="mt-2">
            <button type="button" class="btn btn-primary" @onclick="() => context.Modal.Accept()">
                @SL["ChoiceOptionInput.Edit.Save"]
            </button>
            <button type="button" class="btn btn-danger ms-2" @onclick="() => context.Modal.Dismiss()">
                @SL["ChoiceOptionInput.Edit.Cancel"]
            </button>
        </div>
    </Body>
</Modal>

@code {
    [Parameter]
    public required FieldDefinition Field { get; set; }

    [Parameter]
    public EventCallback<FieldDefinition> FieldChanged { get; set; }

    [Inject]
    public required IStringLocalizer<ComponentStrings> SL { get; set; }

    private Modal<ChoiceOption>? _editChoiceOptionModal = new();
    private ChoiceOption _newChoiceOption = new();

    private List<ValidationResult> _errors = [];

    private ChoiceOption? _draggedOption;
    private int? _dropIndex;

    private void RemoveChoiceOption(ChoiceOption option)
    {
        Field.ChoiceOptions.Remove(option);
        FieldChanged.InvokeAsync(Field);
    }

    private async Task HandleEditChoiceOption(ChoiceOption option)
    {
        var copy = new ChoiceOption
        {
            Name = new L10n.L10nString(option.Name),
            Value = option.Value,
            SortWeight = option.SortWeight
        };

        var modalResult = await _editChoiceOptionModal!.ShowModal(copy);

        if (modalResult == ModalResult.Accepted)
        {
            option.Name = copy.Name;
            option.Value = copy.Value;
            option.SortWeight = copy.SortWeight;
            await FieldChanged.InvokeAsync(Field);
        }
    }

    private void AddChoiceOption(ChoiceOption option)
    {
        _errors = [];
        try
        {
            var val = Field.Type!.ConvertToValue(option.Value!);
        }
        catch
        {
            _errors = new List<ValidationResult>
            {
                new ValidationResult(SL["EditChoiceOptions.InvalidValue"])
            };
            return;
        }


        Field.ChoiceOptions.Add(option);
        FieldChanged.InvokeAsync(Field);
        _newChoiceOption = new();
    }

    private void HandleDragStart(ChoiceOption option)
    {
        _draggedOption = option;
    }

    private void HandleDropAt(int? insertIndexParam)
    {
        if (_draggedOption is null || insertIndexParam is null)
        {
            _dropIndex = null;
            return;
        }

        int insertIndex = insertIndexParam.Value;

        var sortedList = Field.ChoiceOptions.OrderByDescending(x => x.SortWeight).ToList();

        int draggedIndex = sortedList.IndexOf(_draggedOption);

        sortedList.Remove(_draggedOption);

        if (draggedIndex < insertIndex)
        {
            insertIndex--;
        }

        insertIndex = Math.Clamp(insertIndex, 0, sortedList.Count);

        if (sortedList.Count == 0)
        {

        }
        else if (insertIndex == 0)
        {
            _draggedOption.SortWeight = sortedList[0].SortWeight + 1000;
        }
        else if (insertIndex == sortedList.Count)
        {
            _draggedOption.SortWeight = sortedList[^1].SortWeight - 1000;
        }
        else
        {
            _draggedOption.SortWeight = (sortedList[insertIndex - 1].SortWeight + sortedList[insertIndex].SortWeight) / 2.0;
        }

        _draggedOption = null;
        _dropIndex = null;
        FieldChanged.InvokeAsync(Field);
    }
}
