@typeparam TModel where TModel : class

<dialog id="@_componentId" class="p-0 border-0">
    <div class="modal show d-block">
        @if (_renderFragment != null && _context != null)
        {
            @_renderFragment(_context)
        }
    </div>
</dialog>


@code {
    [Inject, NotNull]
    private IJSRuntime? JSRuntime { get; set; }
    private IJSObjectReference? _jsModule;
    private IJSObjectReference? _jsModalObject;

    private readonly string _componentId = Guid.NewGuid().ToString();
    protected TaskCompletionSource<ModalResult> _taskCompletionSource = new();

    private RenderFragment<ModalContext<TModel>>? _renderFragment;
    private ModalContext<TModel>? _context;

    [Parameter]
    public RenderFragment<ModalContext<TModel>>? ChildContent { get; set; }

    [Parameter]
    public RenderFragment<ModalContext<TModel>>? Content { get; set; }

    [Parameter]
    public RenderFragment<ModalContext<TModel>>? Header { get; set; }
    [Parameter]
    public RenderFragment<ModalContext<TModel>>? Body { get; set; }
    [Parameter]
    public RenderFragment<ModalContext<TModel>>? Footer { get; set; }


    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? ModalDialogClasses { get; set; }
    [Parameter]
    public string? ModalHeaderClasses { get; set; }
    [Parameter]
    public string? ModalBodyClasses { get; set; }
    [Parameter]
    public string? ModalFooterClasses { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            _jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/JGUZDV.Blazor.Components/Modals/Modal.razor.js");
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (Title != null && Header != null)
            throw new InvalidOperationException($"{nameof(Title)} cannot be set, if {nameof(Header)} is set.");

        if ((Title != null || Header != null || Footer != null) && Body == null)
            throw new InvalidOperationException($"{nameof(Header)}, {nameof(Title)} or {nameof(Footer)} may only be set together with {nameof(Body)}");

        if (Body != null && Content != null)
            throw new InvalidOperationException($"{nameof(Body)} may not be set, if {nameof(Content)} is set.");

        RenderFragment<ModalContext<TModel>>? content = Body == null
            ? Content
            : (ctx) =>
                @<div class="modal-content">
                    @if (Header != null || Title != null)
                    {
                        <div class="modal-header @ModalHeaderClasses">
                        @if (Header != null)
                        {
                            @Header.Invoke(ctx)
                        }
                        else
                        {
                            <h5 class="modal-title">@Title</h5>
                            <button type="button" class="btn-close" aria-label="Close" @onclick="() => Close()"></button>
                        }
                        </div>
                    }

                    <div class="modal-body @ModalBodyClasses">
                        @Body.Invoke(ctx)
                    </div>

                    @if (Footer != null)
                    {
                        <div class="modal-footer @ModalFooterClasses">
                            @Footer.Invoke(ctx)
                        </div>
                    }
                </div>;

        if (content != null && ChildContent != null)
            throw new InvalidOperationException($"{nameof(Content)} may not be set, if {nameof(ChildContent)} is set.");

        _renderFragment = content == null
            ? ChildContent
            : (ctx) =>
                @<div class="modal-dialog @ModalDialogClasses" @onclick:stopPropagation="true">
                    @content.Invoke(ctx)
                </div>
    ;
    }

    public async Task<ModalResult> ShowModal(TModel model)
    {
        _context = new ModalContext<TModel>(this, model);
        StateHasChanged();

        _jsModalObject = await _jsModule!.InvokeAsync<IJSObjectReference>("createModal", _componentId, DotNetObjectReference.Create(this));
        await _jsModalObject.InvokeVoidAsync("openDialog");

        _taskCompletionSource = new();
        return await _taskCompletionSource.Task;
    }

    public async Task Close(ModalResult result)
    {
        await _jsModalObject!.InvokeVoidAsync("closeDialog");
        await _jsModalObject!.DisposeAsync();

        _taskCompletionSource.SetResult(result);
    }

    /// <summary>
    /// This will be called, if the user closes the modal by pressing ESC or clicking outside the modal.
    /// </summary>
    [JSInvokable]
    public void OnClose()
    {
        _taskCompletionSource.SetResult(ModalResult.Undefined);
    }

    public Task Close()
        => Close(ModalResult.Undefined);

    public Task Accept()
        => Close(ModalResult.Accepted);

    public Task Dismiss()
        => Close(ModalResult.Dismissed);

    [Obsolete("Use ModalContext<TModel> instead.")]
    public class ModalContext : ModalContext<TModel>
    {
        [SetsRequiredMembers]
        public ModalContext(Modal<TModel> modal, TModel model)
            : base(modal, model)
        { }
    }
}
