@inject ILanguageService LS
@inject IStringLocalizer<ComponentStrings> LR
@inject NavigationManager _navigation

@code {
    [Parameter]
    public string LanguageSelectionEndpointFormat { get; set; } = "_app/localization/{0}";
}

<Dropdown>
    <DropdownLabelContent>
        <span class="btn btn-none" aria-haspopup="true" aria-expanded="false" aria-label="@LR["LanguagePicker.Header"]">
            @Icons.LanguageSelect(null)
        </span>
    </DropdownLabelContent>
    <DropdownContent>
        <h6 class="dropdown-header">@LR["LanguagePicker.Header"]</h6>

        @foreach (var l in LS.GetLanguages() ?? [])
        {
            var isSelected = l.Culture == LS.GetCurrentUICulture();
            <a class="dropdown-item @(isSelected?"active":null)" href="@LanguageSelectionEndpointFormat.Replace("{0}", l.Culture)">@l.DisplayName</a>
        }
    </DropdownContent>
</Dropdown>
