@page "/edit-field-definition"
@using JGUZDV.Blazor.Components.L10n
@using JGUZDV.DynamicForms.Blazor.Resources
@using JGUZDV.DynamicForms.Model
@using JGUZDV.L10n
@using Microsoft.Extensions.DependencyInjection
@using System.ComponentModel.DataAnnotations

@inject NavigationManager Navigation
@inject IStringLocalizer<ComponentStrings> SL
@inject IServiceProvider ServiceProvider

<EditForm Model="@FieldDefinition" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <ul>
        @foreach (var item in _additionalValidationErrors)
        {
            <li class="text-danger">
                @item.ErrorMessage
            </li>
        }
    </ul>

    <div class="mb-2">
        <label for="identifier">@SL["EditFieldDefinition.Identifier"]</label>
        <InputText id="identifier" @bind-Value="FieldDefinition.Identifier" class="form-control" />
    </div>

    <div class="mb-2">
        <label for="label">@SL["EditFieldDefinition.Label"]</label>
        <L10nEditor L10n="FieldDefinition.InputDefinition.Label" />
    </div>

    <div class="mb-2">
        <label for="name">@SL["EditFieldDefinition.Name"]</label>
        <InputText id="name" @bind-Value="FieldDefinition.InputDefinition.Name" class="form-control" />
    </div>

    <div class="mb-2">
        <label for="type">@SL["EditFieldDefinition.Type"]</label>
        <select id="type"
                value="@FieldDefinition.Type?.ToJson()"
                @onchange="HandleTypeChanged"
                class="form-select">
            @if (FieldDefinition.Type == null)
            {
                <option value="" selected>@SL["EditFieldDefinition.SelectType"]</option>
            }
            @foreach (var type in DynamicFormsConfiguration.KnownFieldTypes)
            {
                <option value="@type.ToJson()">@type.DisplayName</option>
            }
        </select>
    </div>

    @if (_metadataChoices != null)
    {
        <div class="mb-2">
            <label for="metadata">@_metadataLabel</label>
            <select id="metadata"
                    class="form-select"
                    @bind="FieldDefinition.Metadata">
                @if (string.IsNullOrWhiteSpace(FieldDefinition.Metadata))
                {
                    //TODO: Change key
                    <option value="" selected>@SL["EditFieldDefinition.SelectType"]</option>
                }
                @foreach (var choice in _metadataChoices)
                {
                    <option value="@choice.Value">@choice.Name</option>
                }
            </select>
        </div>
    }

    <div class="mb-2">
        <label for="description">@SL["EditFieldDefinition.Description"]</label>
        <L10nEditor L10n="FieldDefinition.Description" />
    </div>

    <div class="mb-2 form-check">
        <InputCheckbox id="isList" @bind-Value="FieldDefinition.IsList" class="form-check-input" />
        <label class="form-check-label" for="isList">@SL["EditFieldDefinition.IsList"]</label>
    </div>

    <div class="mb-2 form-check">
        <InputCheckbox class="form-check-input" id="isRequired" @bind-Value="FieldDefinition.IsRequired" />
        <label class="form-check-label" for="isRequired">@SL["EditFieldDefinition.IsRequired"]</label>
    </div>

    <div class="mb-2">
        <label for="sortKey">@SL["EditFieldDefinition.SortKey"]</label>
        <InputNumber id="sortKey" @bind-Value="FieldDefinition.SortKey" class="form-control" />
    </div>

    <button type="submit"
            class="btn btn-primary">
        @SL["EditFieldDefinition.Save"]
    </button>
</EditForm>

@code {
    [Parameter]
    public required FieldDefinition FieldDefinition { get; set; }

    [Parameter]
    public EventCallback<FieldDefinition> FieldDefinitionChanged { get; set; }

    private List<ChoiceOption>? _metadataChoices = null;
    private string _metadataLabel = "";

    private List<ValidationResult> _additionalValidationErrors = [];

    private void HandleValidSubmit()
    {
        _additionalValidationErrors = [];
        if (_metadataChoices != null)
        {
            if (!_metadataChoices.Any(x => x.Value == FieldDefinition.Metadata))
            {
                _additionalValidationErrors = new List<ValidationResult>
                {
                    new ValidationResult(SL["EditFieldDefinition.InvalidMetadata", _metadataLabel])
                };

                return;
            }
        }

        FieldDefinitionChanged.InvokeAsync(FieldDefinition);
    }

    private async Task HandleTypeChanged(ChangeEventArgs e)
    {
        FieldDefinition.Type = FieldType.FromJson(e.Value!.ToString()!);


        var metadataService = ServiceProvider
            .GetKeyedService<IFieldTypeMetadataProvider>(FieldDefinition.Type.GetType().Name);

        if (metadataService != null)
        {
            _metadataChoices = await metadataService.GetValues(FieldDefinition.Type);
            _metadataLabel = metadataService.GetMetadataDisplayName(FieldDefinition.Type).ToString()!;
        }
        else
        {
            _metadataChoices = null;
            _metadataLabel = "";
        }

    }
}
