@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@inject IStringLocalizer<Resources.ComponentStrings> LR

@code{
    [Parameter]
    public string? Username { get; set; }
    public bool HasUserName => !string.IsNullOrWhiteSpace(Username);

    [Parameter, EditorRequired]
    public string? LogoutUrl { get; set; }

    [Parameter]
    public RenderFragment? DropdownItems { get; set; }

    [Parameter]
    public bool AlignLeft { get; set; }

    public bool IsLogoutDropdownVisible { get; set; }
    public void ToggleDropdown()
    {
        IsLogoutDropdownVisible = !IsLogoutDropdownVisible;
    }
}

<div class="dropdown">
    <button class="jgu_btn btn @(HasUserName?"btn-light border":"btn-none")" @onclick="() => ToggleDropdown()">
        <i class="fas fa-user-circle"></i>
        @if (HasUserName)
        {
            <span class="ms-2">@Username</span>
        }
    </button>
    <div class="dropdown-menu @(IsLogoutDropdownVisible?"show":"") @(AlignLeft ? "end-0" : "")">
        <a class="dropdown-item" href="@LogoutUrl">
            <i class="fas fa-sign-out-alt"></i>
            @LR["AuthView.LogoutButton"]
        </a>
        @DropdownItems
    </div>
</div>