@using JGUZDV.Blazor.StateManagement
@using JGUZDV.JobHost.Dashboard.Model
@using JGUZDV.JobHost.Dashboard.Services

<JGUZDV.Blazor.StateManagement.Components.StateView T="DashboardState" Context="State">
<JGUZDV.Blazor.Components.AwaitResult Task="State.Jobs" Context="_jobs">
    <table class="table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Host</th>
                <th>Last executed</th>
                <th>Schedule</th>
                <th>Execute now</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in JobSort(_jobs.JobsByHost.SelectMany(x => x.Value).ToList()))
            {
                <tr>
                    <td>
                        <i class="fa @(item.LastResult == "error" ? "fa-times-circle text-danger" : "fa-check-circle text-success")"></i>
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @_jobs.Hosts[item.HostId].Name
                    </td>
                    <td>
                        @item.LastExecutedAt.ToLocalTime().ToString("g")
                    </td>
                    <td>
                        @item.Schedule
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-secondary" @onclick="() => ExecuteNow(State,item)">trigger now</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</JGUZDV.Blazor.Components.AwaitResult>
</JGUZDV.Blazor.StateManagement.Components.StateView>
@code {
   
    [Parameter]
    public Func<List<Job>, List<Job>> JobSort { get; set; } = x => x.OrderBy(x => x.Name).ToList();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

    }

    private async Task ExecuteNow(DashboardState state, Job job)
    {
        await state.ExecuteNow(job.Id);
    }
}
