<!DOCTYPE html>
@inject IWebHostEnvironment _env;
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <link rel="icon" href="https://cdn.zdv.uni-mainz.de/web/assets/JGU-Quader.ico" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="https://cdn.zdv.uni-mainz.de/web/assets/JGU-Quader.ico">
    <link rel="icon" sizes="180x180" href="https://cdn.zdv.uni-mainz.de/web/assets/JGU-Quader-180.png">

    <link href="https://cdn.zdv.uni-mainz.de/web/jg-ootstrap/jg-ootstrap.css" rel="stylesheet" />
    <link href="https://cdn.zdv.uni-mainz.de/web/fontawesome/5-free/css/all.min.css" rel="stylesheet" />
    <link href="@Assets["css/app.css"]" rel="stylesheet" />
    <link href="@Assets["JGUZDV.Blazor.Components.Samples.Web.styles.css"]" rel="stylesheet">

    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <div style="position: fixed; bottom: 0; right: 0; background-color: darkred; color: white;">
        <div class="d-block d-sm-none">XS</div>
        <div class="d-none d-sm-block d-md-none">SM</div>
        <div class="d-none d-md-block d-lg-none">MD</div>
        <div class="d-none d-lg-block d-xl-none">LG</div>
        <div class="d-none d-xl-block d-xxl-none">XL</div>
        <div class="d-none d-xxl-block">XXL</div>
    </div>
    <div style="position: fixed; bottom: 0; left: 0; background-color: orange; color: white;">
        <div>Application: @this.GetType().Assembly.GetName().Name</div>
    </div>

    <Routes />
    <script defer src="_framework/blazor.web.js" autostart="false"></script>
    <script defer src="@Assets["blazorStartup.js"]"></script>
</body>
</html>
