@inject IStringLocalizer<BlazorServerStrings> LR;
@{
    Layout = "_BlazorBaseLayout";
}

@section Styles {
    @RenderSection("Styles", false)
}
@section Scripts {
    <script src="_framework/blazor.webassembly.js"></script>

    @RenderSection("Scripts", false)
}

<div id="app" class="jbs-app">
    <div class="vh-100 px-2 d-flex flex-column align-items-center justify-content-center">
        <div class="app-startup">
            <div class="my-2"><img alt="@LR["App.LogoAlt"]" src="~/assets/app_logo.svg" /></div>
            <div class="text-muted text-center">@LR["App.Loading"]</div>
            <div class="loading-progress">
            </div>
        </div>
    </div>
</div>

<div id="blazor-error-ui" class="alert alert-danger d-flex justify-content-between">
    <div>
        @LR["App.BlazorError"]
        <a href="" class="reload">@LR["App.BlazorError.Reload"]</a>
    </div>
    <div>
        <a class="btn btn-close"></a>
    </div>
</div>

@RenderBody()
    